mat-toolbar {
    margin-bottom: 2em;
    color: #161616 !important;
    background: #FF7D7D;
}

a {
    margin: 0 5px;
}

a.active {
    background: #ffc9c9 !important;
}

div.header > nav {
    margin-left: 5%;
}

div.header {
    width: 100%;
}

a.cartButton {
    background: #161616;
}