mat-toolbar {
    height: 100%;
    padding: .7em .5em;
    margin-bottom: 2em;
}

mat-toolbar, .mat-menu-content {
    color: #161616 !important;
    background: #63C3FF;
}

a {
    margin: 0 5px;
}

a.active {
    background: #b9e4ff !important;
}

div.header > nav {
    margin-left: 5%;
}

div.header {
    width: 100%;
}

a#cartButton {
    margin-right: .8em;
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

.right-buttons {
    float: right;
}

.nav-menu {
    display: none;
}

.mat-menu-item {
    text-align: left !important;
}

.mat-menu-item mat-icon {
    margin: 0;
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }

    .nav-menu {
        display: initial;
    }
}

@media (min-width: 800px) {
    
}