@import 'src/app/shared/variables.scss';

mat-toolbar {
    height: 64px;
}

mat-toolbar,
.mat-menu-content {
    color: $font-color !important;
    background: $primary-color;
}

a {
    margin: 0 5px;
}

a.active {
    background: $primary-color-light !important;
}

div.header > nav {
    margin-left: 5%;
}

div.header {
    width: 100%;
}

.cartButton {
    margin-right: 0.8em;
}

.cartButtonFixed {
    background: white;
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 999;
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

.right-buttons {
    float: right;
}

.nav-menu {
    display: none;
}

.mat-menu-item {
    text-align: left !important;
}

.mat-menu-item mat-icon {
    margin: 0;
}

#mobile-admin {
    color: #3f51b5;
    background: #3f51b51f;
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }

    .nav-menu {
        display: initial;
    }

    mat-toolbar {
        padding: 0.7em 0;
    }

    .header > nav {
        margin-left: 3px !important;
        margin-right: 11px;
    }

    mat-icon {
        margin: 0;
        padding: 0;
    }

    .mat-button {
        margin: 0 2px;
    }
}
