<mat-toolbar>
    <div class="header">
        <nav>
            <div>
                <!-- Mobile menu icon -->
                <button class="nav-menu" mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a class="hide-on-mobile" mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a class="hide-on-mobile" mat-button routerLink="/products" routerLinkActive="active">Products</a>
                <a class="hide-on-mobile" mat-button routerLink="/contacts" routerLinkActive="active">Contact</a>
                <a mat-button *ngIf="logged === false" routerLink="/login" routerLinkActive="active">Login</a>
                <a mat-button *ngIf="logged === false" routerLink="/register" routerLinkActive="active">Register</a>
                <a class="hide-on-mobile" mat-button *ngIf="logged" routerLink="/admin" routerLinkActive="active">Admin</a>
                <a class="hide-on-mobile" mat-button routerLink="/asd" routerLinkActive="active">404</a>
            </div>

            <div class="right-buttons">
                <a mat-raised-button color="warn" *ngIf="logged" (click)="logout()">Logout</a>
                <a class="cartButton" mat-button [matBadge]="productCount" matBadgePosition="after" routerLink="/cart" routerLinkActive="active"> <mat-icon>shopping_cart</mat-icon> Cart </a>
            </div>
        </nav>
    </div>
</mat-toolbar>

<!-- Mobile menu -->
<mat-menu #appMenu="matMenu">
    <a mat-menu-item routerLink="/home" routerLinkActive="active"><mat-icon style="margin: 0;">home</mat-icon>Home</a>
    <a mat-menu-item *ngIf="logged" routerLink="/admin" routerLinkActive="active" id="mobile-admin">
        <mat-icon color="primary">build</mat-icon>
        <b>Admin</b>
    </a>
    <a mat-menu-item routerLink="/products" routerLinkActive="active"><mat-icon>storefront</mat-icon>Products</a>
    <a mat-menu-item routerLink="/contacts" routerLinkActive="active"><mat-icon>email</mat-icon>Contact</a>
    <a mat-menu-item routerLink="/asd" routerLinkActive="active"><mat-icon>cloud_off</mat-icon> 404</a>
</mat-menu>

<!-- Fixed -->
<a class="cartButton cartButtonFixed" mat-raised-button *ngIf="showFixedCart" [ngStyle]="{opacity: fixedCartOpacity}" [matBadge]="productCount" matBadgePosition="before" routerLink="/cart" routerLinkActive="active"> <mat-icon>shopping_cart</mat-icon> Cart </a>