<mat-toolbar>
    <div class="row between-xs middle-xs header">
        <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
            <a mat-button routerLink="/contacts" routerLinkActive="active">Contact</a>
            <a mat-button routerLink="/demo" routerLinkActive="active">Demo</a>
            <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
            <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
            <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
            <a mat-button routerLink="/asd" routerLinkActive="active">404</a>
        </nav>
        <a mat-button [matBadge]="productCount | async" matBadgePosition="after" routerLink="/cart"> <mat-icon>shopping_cart</mat-icon> Cart </a>
    </div>
</mat-toolbar>