:host {
    padding: 2em;
    text-align: center;
}

#send-button {
    display: block;
    background: #b9e4ff;
}

#send-button:disabled {
    background: #d1edff;
}

#parent {
    text-align: center;
}

#child {
    display: inline-block;
    text-align: initial;
}