@import 'src/app/shared/variables.scss';

:host {
    text-align: center;
}

#send-button {
    display: block;
    background: $primary-color-light;
}

#send-button:disabled {
    background: #d1edff;
}

#parent {
    text-align: center;
}

#child {
    display: inline-block;
    text-align: initial;
}
