div#loginForm {
    margin: 1em;
}

mat-card-content {
    padding: 1em;
}

.loginError {
    padding-bottom: .5em;
}

mat-spinner {
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
}