div.parent {
    margin: 0 auto;
    text-align: center;
}

div.child {
    min-width: 70%;
    display: inline-block;
    margin: 0 auto;
    padding: 5em;
    padding-top: 2em;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

mat-card {
    width: 70%;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
}

form {
    text-align: left;
    padding: 0 5%;
}

mat-form-field.textarea {
    min-width: 70%;
}

img#uploadedImage {
    max-width: 200px;
    max-height: 200px;
}

label#fileInputLabel {
    margin: 1em 0;
}

label#fileInputLabel mat-icon {
    vertical-align: middle;
}

label#fileInputLabel mat-icon.check {
    color: #3f51b5;
}

label#fileInputLabel mat-icon.error {
    color: #f44336;
}

mat-spinner {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
}

mat-progress-bar {
    max-width: 200px;
}

@media (max-width: 800px) {
    mat-card {
        margin: 0;
        width: 100%;
        min-height: calc(100vh - 64px);
        box-sizing: border-box;
    }

    img#uploadedImage {
        display: block;
        margin: 0 auto;
    }

    mat-spinner#uploadingFile {
        display: block;
        margin: 0 auto;
    }
}
