h1 {
    text-align: center;
}

.product-grid {
    padding: 0 10%;
}

.product {
    margin-bottom: 2em;
}

/*
.product-grid {
    width: 100%;
    text-align: center;
}

.product {
    display: inline-block;
}
*/