<div *ngIf="destroyed === false">
    <h2>ProductComponent</h2>
    <h3 appHighlight>{{product.title | uppercase}}</h3>
    <img src="{{product.image}}">
    <br>
    <p>{{product.description | slice:0:10}}... (cortado por pipe <i>slice</i>)</p>
    <b>Precio: {{product.price | currency}}</b>
    <p>{{today | date:'d MMM, y'}}</p>
    <button (click)="addToCartClicked()">Add to cart</button>
    <a routerLink="/products/{{product.id}}"><button>Detalles</button></a>
    <button (click)="destroyProductClicked()">Remove</button>
</div>