@import 'src/app/shared/variables.scss';

.layout-container {
    min-height: 100vh;
    background: $bg-color;
    color: $font-color;
}

.main-content {
    // box-sizing: border-box;
    // 100vh - Header height - Footer Height
    box-sizing: border-box;
    min-height: calc(100vh - 64px - 150px);
    width: 100%;
}
