<mat-card>
    <mat-card-title>Edit Product</mat-card-title>
    <mat-card-content>
        <form
            *ngIf="productForm"
            [formGroup]="productForm"
            (ngSubmit)="submitForm()"
        >
            <div *ngIf="imageUrl && !waitingUpload">
                <img [src]="imageUrl" id="uploadedImage" alt="uploaded-image" />
                <br />
            </div>
            <div *ngIf="waitingUpload">
                <mat-spinner id="uploadingFile"></mat-spinner>
                <br />
            </div>
            <input
                (change)="selectFile($event)"
                style="display: none;"
                id="fileInput"
                type="file"
                accept="image/png, image/jpeg"
                [disabled]="waiting"
            />
            <label
                id="fileInputLabel"
                for="fileInput"
                class="mat-raised-button"
                color="primary"
                [attr.disabled]="waiting ? true : null"
            >
                Upload new image
                <!-- <mat-icon
                    *ngIf="!newImageUploaded"
                    aria-hidden="false"
                    aria-label="Image selected"
                    class="initial-check"
                    >check_circle</mat-icon
                > -->
                <mat-icon
                    *ngIf="selectedFile && imageField.valid"
                    aria-hidden="false"
                    aria-label="Image selected"
                    class="check"
                    >check_circle</mat-icon
                >
                <mat-icon
                    *ngIf="selectedFile && !imageField.valid"
                    aria-hidden="false"
                    aria-label="Image selected"
                    class="error"
                    >error</mat-icon
                >
            </label>
            <div
                *ngIf="
                    (imageField.dirty && imageField.invalid) ||
                    invalidFormSubmit
                "
            >
                <div
                    class="formErrorMessage"
                    *ngIf="imageField.hasError('required')"
                >
                    You must upload an image
                </div>
                <div *ngIf="!imageField.hasError('required')">
                    <div
                        class="formErrorMessage"
                        *ngIf="imageField.hasError('file_type')"
                    >
                        You must upload a png or jpg image file
                    </div>
                    <div
                        class="formErrorMessage"
                        *ngIf="imageField.hasError('size_exceeded')"
                    >
                        The image size can not exceed 1 MB
                    </div>
                </div>
            </div>

            <p *ngIf="uploadComplete">Upload Complete</p>

            <div *ngIf="uploadPercentage$ | async as uploadPercentage">
                <p *ngIf="uploadPercentage && !uploadComplete">
                    {{ uploadPercentage }}% Uploaded
                </p>
                <mat-progress-bar
                    *ngIf="uploadPercentage && !uploadComplete"
                    color="warn"
                    mode="determinate"
                    [value]="uploadPercentage"
                ></mat-progress-bar>
                <mat-progress-bar
                    *ngIf="uploadComplete"
                    mode="determinate"
                    [value]="100"
                ></mat-progress-bar>
            </div>
            <br />
            <mat-form-field>
                <input matInput formControlName="title" placeholder="Title" />
            </mat-form-field>
            <div
                *ngIf="
                    (titleField.dirty && titleField.invalid) ||
                    invalidFormSubmit
                "
            >
                <div
                    class="formErrorMessage"
                    *ngIf="titleField.hasError('required')"
                >
                    Required field
                </div>
            </div>
            <br />
            <mat-form-field>
                <input
                    matInput
                    formControlName="price"
                    type="number"
                    placeholder="Price"
                />
            </mat-form-field>
            <div
                *ngIf="
                    (priceField.dirty && priceField.invalid) ||
                    invalidFormSubmit
                "
            >
                <div
                    class="formErrorMessage"
                    *ngIf="priceField.hasError('too_high')"
                >
                    The price cannot reach 10,000
                </div>
                <div
                    class="formErrorMessage"
                    *ngIf="priceField.hasError('required')"
                >
                    Requiered field
                </div>
            </div>
            <br />
            <mat-form-field class="textarea">
                <textarea
                    matInput
                    formControlName="description"
                    placeholder="Description"
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                ></textarea>
            </mat-form-field>
            <div
                *ngIf="
                    (descriptionField.dirty && descriptionField.invalid) ||
                    invalidFormSubmit
                "
            >
                <div
                    class="formErrorMessage"
                    *ngIf="descriptionField.hasError('required')"
                >
                    Required field
                </div>
            </div>
            <br />
            <button
                [disabled]="waiting || waitingUpload"
                mat-raised-button
                type="submit"
            >
                Send
            </button>
            <mat-spinner *ngIf="waiting" diameter="25"></mat-spinner>
        </form>

        <div *ngIf="ready && notFound">Product not found</div>

        <mat-spinner *ngIf="!ready"></mat-spinner>
    </mat-card-content>
</mat-card>
