<mat-card>
    <mat-card-title>Edit Product</mat-card-title>
    <mat-card-content>
        <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="submitForm(productForm.value)">
            <mat-form-field>
                <input matInput formControlName="id" type="number" placeholder="ID">
            </mat-form-field>
            <div *ngIf="idField.dirty && idField.invalid">
                <div class="formErrorMessage" *ngIf="productForm.get('id').hasError('required') && productForm.get('id').dirty">Required field</div>
            </div>
            <br>
            <mat-form-field>
                <input matInput formControlName="title" type="text" placeholder="Title">
            </mat-form-field>
            <div *ngIf="titleField.dirty && titleField.invalid">
                <div class="formErrorMessage" *ngIf="productForm.get('title').hasError('required') && productForm.get('title').dirty">Required field</div>
            </div>
            <br>
            <mat-form-field>
                <input matInput formControlName="price" type="number" placeholder="Price">
            </mat-form-field>
            <div *ngIf="priceField.dirty && priceField.invalid">
                <div class="formErrorMessage" *ngIf="priceField.hasError('too_high')">The price cannot reach 10,000</div>
                <div class="formErrorMessage" *ngIf="priceField.hasError('required')">Requiered field</div>
            </div>
            <br>
            <mat-form-field class="textarea">
                <textarea matInput formControlName="description" placeholder="Description"  name="" id="" cols="30" rows="10"></textarea>
            </mat-form-field>
            <div *ngIf="descriptionField.dirty && descriptionField.invalid">
                <div class="formErrorMessage" *ngIf="productForm.get('description').hasError('required') && productForm.get('description').dirty">Required field</div>
            </div>
            <br>
            <button [disabled]="productForm.invalid" mat-raised-button type="submit">Send</button>
        </form>

        <div *ngIf="!productForm && ready">Product not found</div>

        <mat-spinner *ngIf="!ready"></mat-spinner>
    </mat-card-content>
</mat-card>