<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="assets/images/404.png" alt="404" id='not_found'>
    <div id="home_btn">
        <a routerLink="/home" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
            <img src="assets/images/home.png" id="home" alt="">
            <img src="assets/images/homeHover.png" id="homeHover" alt="">
        </a>
    </div>
</body>
</html>