/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0px;
//   padding: 0px;
// }

body {
  overflow-x: hidden;
}

.formErrorMessage {
  color: red;
  text-align: left;
}

.formErrorMessage:first-child {
  margin-top: -10px;
}

.formErrorMessage:last-child {
  margin-bottom: -10px;
}

.mat-menu-panel {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .4);
}