/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0px;
//   padding: 0px;
// }

body {
  overflow-x: hidden;
}

.formErrorMessage {
  color: red;
}

.formErrorMessage:first-child {
  margin-top: -10px;
}

.formErrorMessage:last-child {
  margin-bottom: -10px;
}